<div>

    <div class="offer-item-no-expand" id="{DESIGNATED ID}" data-desktop="{DESKTOP EXPANSION DIV ID}" data-mobile="{MOBILE EXPANSION DIV ID}" data-content="{EXPANSION CONTENT DIV ID}">
        <a href="{REMOTE LINK}" target="_blank"> </a>
        <div class="offer-item-image">
            <figure class="hidden-xs hidden-sm loaded"><img src="{URL FOR DESKTOP IMAGE}" alt="" title="" class="img-responsive"></figure>
            <figure class="visible-xs visible-sm loaded"><img src="{URL FOR MOBILE IMAGE}" alt="" title="" class="img-responsive"></figure>
        </div>
        <p class="brand">{BRAND NAME}</p>
        <h4>{H/L}</h4>
        <p><span>{LEAD IN}</span> <span class="aml-text-yellow">&gt; more</span></p>
        <h6><span>{TIP}</span></h6>
    </div>

</div>