<div class="offer-item" id="{DESIGNATED ID}" data-desktop="{DESKTOP EXPANSION DIV ID}" data-mobile="{MOBILE EXPANSION DIV ID}" data-content="{EXPANSION CONTENT DIV ID}">
    <div id="{ID FOR TRACKING OR TAGGING}">
        <figure class="hidden-xs hidden-sm"><img src="{URL FOR DESKTOP IMAGE}" alt="" class="img-responsive"></figure>
        <figure class="visible-xs visible-sm"><img src="{URL FOR MOBILE IMAGE}" alt="" class="img-responsive"></figure>
    </div>
    <p>{BRAND NAME}</p>
    <h4>{H/L}</h4>
    <p>{LEAD IN} <span class="aml-text-yellow">&gt;</span></p>
</div>