<div class="wrap-temp">
    <div class="col-xs-12 col-md-6 text-center">
        {{content 1}}
        <div class="offer-detail-mobile" id="{MOBILE EXPANSION DIV ID}"></div>
    </div>
    <div class="col-xs-12 col-md-6 text-center">
        {{content 2}}
        <div class="offer-detail-mobile" id="{MOBILE EXPANSION DIV ID}"></div>
    </div>
    <div class="col-xs-12">
        <div class="offer-detail-desktop left" id="{DESKTOP EXPANSION DIV ID}"></div>
        <div class="offer-detail-desktop left" id="{DESKTOP EXPANSION DIV ID}"></div>
    </div>
</div>